on boot
    chown system system /proc/touchpanel/gesture_enable
    chown system system /proc/touchpanel/touchkey_enable

    chmod 664 /proc/touchpanel/gesture_enable
    chmod 664 /proc/touchpanel/touchkey_enable

    write /proc/touchpanel/gesture_enable 1

service touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.A57
    class hal
    user system
    group system
