# Copyright (c) 2011-2016, 2018-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# Extracted from OPPO/A57/A57:6.0.1/MMB29M/1527754036:user/release-keys

on property:sys.usb.config=mtp,mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2773

on property:sys.usb.config=mtp,mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2774

on property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2767

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2768

on property:sys.usb.config=rndis,serial_cdev,diag && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2783

on property:sys.usb.config=rndis,diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2775

on property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2766

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276A

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2769

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2764

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2765

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2771

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2772

on property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276C

on property:sys.usb.config=diag,diag_mdm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276E
