on init
    # White light
    chown system system /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/device/blink
    chown system system /sys/class/leds/white/device/grpfreq
    chown system system /sys/class/leds/white/device/grppwm

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.A57
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical
