# Both RIL daemons are needed for NV dump
# Running as root is needed.
service vendor.legacy-ril-daemon /vendor/bin/hw/legacy_rild
    class main
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw diag oem_2901 log
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    oneshot

service vendor.legacy-ril-daemon2 /vendor/bin/hw/legacy_rild -c 2
    class main
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw diag oem_2901 log
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    oneshot

# Stop when IMEI is written
on property:oppo.device.imeicache=*
    stop vendor.legacy-ril-daemon
    stop vendor.legacy-ril-daemon2
